<!DOCTYPE html>

<html>
  <head>
    <title>React + Knapsack'ing = fun</title>
    <link href='/style.css' rel='stylesheet'>
  </head>
  <body>
    <div id='application-mount'>
      <%- reactOutput %>
    </div>
  </body>
</html>
